server:
  port: 8080

spring:
  application:
    name: db-admin

  jackson:
    default-property-inclusion: non_null
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    com.dbadmin: DEBUG
    org.springframework.web: DEBUG